/*fonts*/

@font-face {
  font-family: DDCHardware-Regular;
  src: url(fonts/ddchardware-regular.woff);
}

/*global styles*/

:root {
  --shadow:
      0 4px 6px rgba(50,50,93,.11),
      0 1px 3px rgba(0,0,0,.08);
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DDCHardware-Regular', sans-serif;
  color: #66cc99;
  text-shadow: var(--shadow);
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 3em;
  text-shadow: var(--shadow);
}

h3 {
  font-size: 1.5em;
}

p {
/*  font-family: 'Open Sans', sans-serif;
  color: #333;*/
  font-size: 16px;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
 /* padding-bottom: 100px;  PADDING FOR FOOTER HERE*/
}

.slant {
  position: absolute;
  bottom: 0;
  fill: #96ffB0;
  width: 100%;
  height: 225px;
}

/*header styles*/

header {
  position: relative;
  height: 667px;
  background-color: #96ffB0;
}

.tagline {
  position: absolute;
  width: 200px;
  top: 35%;
  left: 5%;
}

.down-arrows {
  position: absolute;
  width: 20%;
  bottom: 95px;
  right: 10%;
  z-index: 1;
  opacity: 0;
  animation: point 2.5s infinite ease-out;
}

@keyframes point {
  10% {opacity: 100;}
  75% {opacity: 100;}
  100% {transform: translateY(60px);}
}

.triangle {
  position: absolute;
  bottom: 0;
  fill: white;
  width: 100%;
  height: 225px;
  margin-bottom: -1px;
}

/*navigation styles*/
.nav-icon {
  position: fixed;
  height: 40px;
  top: 20px;
  right: 5%;
  z-index: 20;
}

.bar {
  position: relative;
  width: 50px;
  height: 8px;
  background-color: #66cc99;
  transition: .25s;
  box-shadow: var(--shadow);
}

.bar-top {
  top: 0;
}

.bar-top.open {
  transform-origin: left;
  transform: translateY(-3px) rotate(45deg);
}

.bar-middle {
  top: 8px;
}

.bar-middle.open {
  opacity: 0;

}

.bar-bottom {
  top: 16px;
}

.bar-bottom.open {
  transform-origin: left;
  transform: rotate(-45deg);
}

.nav-wrap {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(white 25%, #96ffB0 55%);
  transition: .5s;
  z-index: 15;
}

.show-nav {
  right: 0;
}

.hide {
  display: none;
}

.nav {
  list-style: none;
  width: 100%;
}

.nav li {
  display: block;
  text-align: center;
  margin: 30px 10px;
  padding: 20px 10px;
}

.nav li a {
  text-decoration: none;
  font-family: DDCHardware-Regular;
  font-size: 1.9em;
  color: #66cc99;
  padding: 10px 10%;
}

/*About me section styles*/

.about-me h2 {
  position: absolute;
  top: 13%;
  left: 5%;
  width: 50%;
}

.about-me p {
  position: absolute;
  top: 22%;
  left: 5%;
  width: 55%;
}

.about-me a {
  position: absolute;
  top: -20px;
}

.name {
  font-family: 'DDCHardware-Regular';
  color: #66cc99;
  font-size: 1.3em;
}

.signature {
  position: absolute;
  width: 250px;
  bottom: 115px;
  fill: green;
  left: 10%;
  z-index: 3;
}


/*full-section styles*/

.full-section {
  height: 667px;
  position: relative;
}

#space_needle {
  position: absolute;
  right: 0;
  bottom: 150px;
  height: 500px;
}

#rain_drops {
  position: absolute;
  height: 570px;
  z-index: 1;
}


/*project section styles*/
.projects-title {
  text-align: center;
  padding-top: 15px;
}

.projects {
  padding: 0 5%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-template-rows: 33% 33%;
}

.project-square {
  padding: 5px;
}


.project-square h3 {
  font-size: 1.3em;
  text-align: center;
  margin: 10px 5px;
}

/*Contact section styles*/

.contact a {
  position: absolute;
  top: 0;
}

.contact-container h2 {
  padding: 30px 0;
  text-align: center;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 100px 100px;
  width: 90%;
  margin: 0 auto;
}

#paperplane {
  width: 120px;
  padding: 2.5px 2.5px;
  margin-top: 35px;
  z-index: 10;
  justify-self: center;
}

#download-icon {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  justify-self: center;
}

#contact-icon-linkedin {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  justify-self: center;
}

.contact-email,
.contact-download,
.download-link,
.contact-linkedin,
.linkedin-link {
  text-align: center;
  line-height: 100px;
  font-size: 18px;
}


/*Footer styles*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*border:1px solid red;*/
}

footer ul {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline-block;
}

.social {
  height: 60px;
}

/*Single project pages*/
.single-project-expand {


}

.single-page-project-title {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

.single-page-project-description {
  padding: 20px 5%;
  position: absolute;
  z-index: 5;
}

.description-paragraph {
  margin-top: 15px;
  text-align: justify;
}

.technology-used {
  margin: 20px 0;
}

highlight {
  font-family: 'DDCHardware-Regular', sans-serif;
  font-size: 1.2em;
  color: #66cc99;
}

.technology-used span {
  display: block;
  padding: 5px 0;
}

.visit-button {
  display: block;
  width: 70%;
  max-width: 350px;
  margin: 30px auto;
  background-color: #66cc99;
  padding: 5px 8px;
  font-size: 1.5em;
  color: #333;
  box-shadow: var(--shadow);
  -webkit-appearance: none;
  border: none;
}

.ref-tag {
  color: purple;
  font-weight: 800;
}
