h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: teal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

header {
  position: relative;
  height: 550px;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: top left;
  transform: skewY(-15deg);
  background-color: #96ffb0;
}

header h1 {
  position: relative;
  margin-left: 5%;
  margin-top: 2.5%;
}

nav {
  position: relative;
  display: none;   <!-- Currently set to none -->
}

.space_needle {
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  height: 400px;
  width: auto;
  z-index: -2;
}

.needle_room {
  height: 80px;
}

.slant {
  position: relative;
  height: 150px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #96ffb0;
  transform-origin: top left;
  transform: skewY(-15deg);
}

.temp-white-space {
  height: 400px;
}

.rain_drops {
  height: 500px;
  margin-left: 20px;
}


footer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #96ffb0;
  transform-origin: top right;
  transform: skewY(-15deg);
  z-index: -10;
}

footer ul {
  margin-top: 200px;
  text-align: center;

}

footer ul li {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
  margin-right: 20px;
}

.social {
  height: auto;
  width: 60px;
}

.social-fix {
  height: 60px;
}